body{
    margin: 0;
    color:#fffffe;
    font-family: "Courier New";
    background-color: #16161a;
    font-size: 18px;
}

.App { //!ABUELO
    
}

.header { //*PADRE
    // background-color: chartreuse;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-rows: minmax(6.25rem, 1fr);
}

.box1 { //?HIJO
    display: flex;
    // background-color: red;
    h1 {
            width: 0;
            overflow: hidden;
            white-space: nowrap;
            // font-size: 30px;
            margin: 1 auto;
            border-right: 0.15em solid #ff8ba7;
            animation: typing 5s steps(38) 2s 1 normal both, blink 1s steps(1) infinite;
            color:white;
          }
          @keyframes typing {
            from {
              width: 0;
            }
            to {
              width: 21.75rem;
            }
          }
          @keyframes blink {
            50% {
              border-color: transparent;
            }
        
        } 
}

.box2 { //?HIJO
    display: flex;
   overflow: hidden;
   white-space: nowrap;
   animation: typing2 8s  1 normal both;
   animation-delay: 8s;
 }
 @keyframes typing2 {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
}


.container { //*TIO
    // background-color: blue;
    width: 100%;
    height: 100px;

    
}

.img1{
    height: 100px;
    width: 50%;
}

@media (max-width: 1200px){
    body {
        font-size: 18px;
    }
    
}

@media (max-width: 992px){
    body {
        font-size: 15px;
    }
    
}

@media (max-width: 768px){
    body {
        font-size: 13px;
    }
    
}

@media (max-width: 576px){
    body {
        font-size: 10px;
    }
   
}
